body {
  height: 100vh;
  margin: 80px 0 0 0;
  padding: 0;
  font-family: Roboto, Arial, sans-serif;
}

.text-centering {
  text-align: center;
}

.small-divider-white {
  background-color: #FFFFFF;
  height: 3px;
  width: 22px;
  margin-bottom: 15px;
}

.btn-primary.axon-button {
  background-color: #01ade5;
  border-color: #01ade5;
  color: white;
  font-family: Montserrat;
  font-size: 12px;
  font-weight: 600;
}

.btn-light.axon-button {
  background-color: transparent;
  border-color: white;
  color: white;
  font-family: Montserrat;
  font-size: 12px;
}

.btn-light.axon-button:hover {
  background-color: white;
  color: #01ade5;
}

.axon-error {
  font-family: Montserrat, Arial, Helvetica, sans-serif;
  font-size: 24px;
  font-weight: 600;
  font-style: normal;
  font-stretch: normal;
  line-height: 1.38;
  letter-spacing: normal;
  color: #e74c3c;
}
