.container-trade-items {
  padding: 40px 76px;
  background-color: #00ACE7;
}

.dashboard-header {
  font-family: Roboto, Arial, Helvetica, sans-serif;
  font-size: 64px;
  font-weight: bold;
  font-style: normal;
  font-stretch: normal;
  line-height: normal;
  letter-spacing: 0px;
  color: #01ade5;
}

.dashboard-subheader {
  font-family: Montserrat, Arial, Helvetica, sans-serif;
  font-size: 24px;
  font-weight: 600;
  font-style: normal;
  font-stretch: normal;
  line-height: 1.38;
  letter-spacing: normal;
  color: #212121;
}

.portfolio-title {
  font-family: Roboto, Arial, Helvetica, sans-serif;
  font-size: 24px;
  font-weight: bold;
  font-style: normal;
  font-stretch: normal;
  line-height: normal;
  letter-spacing: 0px;
  color: #00253e;
}

.portfolio-subtitle {
  font-family: Montserrat, Arial, Helvetica, sans-serif;
  font-size: 16px;
  font-weight: normal;
  font-style: normal;
  font-stretch: normal;
  line-height: 1.63;
  letter-spacing: normal;
  color: #212121;
}

.trade-items-title {
  font-family: Roboto, Arial, Helvetica, sans-serif;
  font-size: 24px;
  font-weight: bold;
  font-style: normal;
  font-stretch: normal;
  line-height: normal;
  letter-spacing: 0px;
  color: #ffffff;
}

.dashboard-divider {
  background-color: #212121;
  height: 3px;
  width: 300px;
  margin-bottom: 18px;
}

.dashboard-table {
  border-collapse: collapse;
  table-layout: fixed;
  font-family: Montserrat, Arial, Helvetica, sans-serif;
  font-size: 16px;
  font-style: normal;
  font-stretch: normal;
  line-height: normal;
  letter-spacing: 0px;
  color: rgba(0, 37, 62, 0.95);
}

.dashboard-table th {
  background-color: #f6f6f6;
  font-weight: 600;
}

.dashboard-trades-table {
  border-collapse: collapse;
  table-layout: fixed;
  font-family: Montserrat;
  font-size: 16px;
  font-style: normal;
  font-stretch: normal;
  line-height: normal;
  letter-spacing: 0px;
  color: #ffffff;
  opacity: 0.8;
}

.dashboard-trades-table th {
  background-color: #7FD5F0;
  font-weight: 600;
}