.axon-homepage {
  background-image: url("../../assets/home-background.png");
  background-position: center center;
  background-repeat:  no-repeat;
  background-size:  cover;
  background-color: #999;
}

.table-credentials {
  background-color: #ffffff;
  border-bottom: 8px solid  #01ade5;
  border-top: none;
  border-left: none;
  border-right: none;
  border-radius: 5px;
  font-family: Montserrat, Arial, Helvetica, sans-serif;
  font-size: 16px;
  font-weight: normal;
  font-style: normal;
  font-stretch: normal;
  line-height: normal;
  letter-spacing: 0px;
}

.table-credentials th {
  background-color: #f6f6f6;
  border-top: none;
  border-left: none;
  border-right-color: transparent;
  border-radius: 5px;
}

.table-credentials td {
  vertical-align: middle;
}

.impersonate-user-button {
  width: 100%;
  background-color: transparent;
  border: none;
  cursor: pointer;
  font-family: Montserrat;
  font-size: 16px;
  color: #01ade5;
}

.impersonate-user-button:hover {
  opacity: 0.5;
}

.homepage-heading {
  font-family: Roboto;
  font-size: 64px;
  font-weight: bold;
  font-style: normal;
  font-stretch: normal;
  color: #ffffff;
}

.homepage-title {
  font-family: Roboto, Arial, sans-serif;
  font-size: 24px;
  font-weight: bold;
  font-style: normal;
  font-stretch: normal;
  line-height: normal;
  letter-spacing: 0px;
  color: #ffffff;
  margin-top: 25px;
  margin-bottom: 15px;
}

.text-info-axon {
  color: #01ade5;
}

.text-info-homepage {
  font-family: Montserrat, Arial, Helvetica, sans-serif;
  font-weight: 500;
  font-style: normal;
  font-stretch: normal;
  letter-spacing: normal;
  color: #01ade5;
}

.banner-info {
  font-size: 16px;
  line-height: 1.63;
}

.header-info {
  font-size: 24px;
  line-height: 1.08;
}

.text-homepage {
  font-family: Montserrat, Arial, Helvetica, sans-serif;
  font-size: 16px;
  font-weight: 400;
  font-style: normal;
  font-stretch: normal;
  line-height: 1.63;
  letter-spacing: normal;
  color: #ffffff;
}

.btn-dashboard {
  font-family: Montserrat, Arial, Helvetica, sans-serif;
  color: #350076;
  font-size: 12px;
  font-weight: 600;
  padding: 1rem;
  border-radius: 5px;
  background-color: #ffffff;
  border: solid 1px #ffffff;
}

.home-extra-margin-left {
  margin-left: 1px;
}
