/* customized bootstrap navbar */

.bg-axon {
  background-color: #340976;
}

.navbar-item-list {
  margin-left: 100px;
}

.navbar-nav .nav-item {
  margin-right: 42px;
}

.current-username {
  font-family: Montserrat;
  font-size: 16px;
  color: white;
  margin: 0 20px;
}

/* customize the navbar link */
.bg-axon .navbar-nav .nav-link {
  font-family: Montserrat;
  font-size: 12px;
  font-weight: 600;
  font-style: normal;
  font-stretch: normal;
  line-height: normal;
  letter-spacing: 0px;
  color: #ffffff;
  padding-left: 0;
  padding-right: 0;
  padding-bottom: 3px;
}

/* customize active or hovered navbar links */
.bg-axon .nav-item .nav-link.active,
.bg-axon .nav-item:hover .nav-link.active {
  color: #ffffff;
  border-bottom: 1px solid #ffffff;
  opacity: 1.0;
}

.bg-axon .nav-item:hover .nav-link {
  opacity: 0.5;
}

/* customize the brand */
.bg-axon .navbar-brand,
.bg-axon .navbar-text {
  font-weight: bold;
  font-family: Roboto, Arial, sans-serif;
  font-size: 22px;
  font-weight: bold;
  font-style: normal;
  font-stretch: normal;
  line-height: normal;
  letter-spacing: 0px;
  color: #ffffff;
}

/* Medium devices (tablets, less than 992px) - bootstrap responsive breakpoint */
@media (max-width: 991.98px) {
  .navbar-item-list {
    margin-left: 0;
  }

  .current-username {
    margin: 20px 0;
  }

  .bg-axon .nav-item .nav-link.active,
  .bg-axon .nav-item:hover .nav-link.active {
    color: #01ade5;
    border-bottom: none;
  }
}
