.auth-error-container {
  height: calc(100vh - 80px);
  display: flex;
  justify-content: center;
  align-items: center;
}

.auth-error-message {
  font-family: Montserrat;
  font-size: 30px;
  color: #212121;
  text-align: center;
}

.auth-error-message.link {
  color: #01ade5;
}