.companyTable {
    font-family: arial, sans-serif;
    border-collapse: collapse;
    width: 100%;
}
.companyTable td, th {
    border: 1px solid #dddddd;
    text-align: left;
    padding: 8px;
}

.companyTable tr:nth-child(even) {
    background-color: #dddddd;
}

.buyOrderMoneyAvailableContainer {
    background-color: #f4f4f4;
    opacity: 0.56;
    height: 50px;
}
